@use "../../mixins" as *;
@use "../../presets/" as *;

.hero {
  display: grid;
  align-items: center;
  grid-template-areas: "ttl img" "dsc img" "act img" "nts img";
  row-gap: 20px;

  @include xl-min {
    padding-top: 130px;
    padding-bottom: 160px;
    grid-template-columns: 560px 1fr;
  }

  @include xl-lg {
    padding-top: 80px;
    padding-bottom: 80px;
    grid-template-columns: 52% 1fr;
  }

  @include lg {
    padding-top: 56px;
    padding-bottom: 56px;
    grid-template-areas: "ttl" "dsc" "img" "act" "nts";
    grid-template-columns: 1fr;
    justify-items: center;
  }

  @include sm {
    padding-top: $padding-top-sm;
    padding-bottom: $padding-bottom-sm;
  }

  &-title {
    margin: 0;
    font-weight: 600;
    line-height: 1.08;
    grid-area: ttl;

    @include xl-min {
      font-size: 65px;
    }

    @include xl-lg {
      font-size: 56px;
    }

    @include lg {
      max-width: 600px;
      text-align: center;
      font-size: 40px;
    }
  }

  &-description {
    padding-top: $gap-lg;
    padding-bottom: $gap-lg;
    line-height: 1.4;
    grid-area: dsc;

    @include xl-min {
      font-size: 25px;
      max-width: 470px;
    }

    @include xl {
      max-width: 470px;
      font-size: 20px;
    }

    @include lg {
      max-width: 470px;
      text-align: center;
      font-size: 18px;
    }

    @include sm {
      padding-top: $gap-sm;
      padding-bottom: $gap-sm;
    }
  }

  &-actions {
    display: flex;
    column-gap: $gap-sm;
    grid-area: act;

    @include sm {
      flex-direction: column;
      gap: $gap-sm;
    }

    &-btn {
      @include sm {
        min-width: 320px;
      }

      @include xs {
        min-width: 260px;
      }
    }
  }

  &-notes {
    grid-area: nts;

    @include sm {
      text-align: center;
    }
  }

  &-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: img;
  }

  &-image-item {
    @include lg-min {
      width: 100%;
    }

    @include lg {
      width: 50%;
      margin-bottom: 20px;
    }
  }
}