@use "../../presets" as *;
@use "../../mixins" as *;

.main {
  background-color: $color-bg-main;
  // padding-top: 105px;
  position: relative;
  top: 105px;

  @include sm {
    // padding-top: 68px;
    top: 68px;
  }
}