header {
  background-color: $color-bg-header;
  border-bottom: 1px solid $color-header-line;
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
}

.header-menu {
  padding-top: $gap-lg;
  padding-bottom: $gap-lg;
  display: flex;
  column-gap: 50px;
  align-items: center;

  &-navbar {
    flex-grow: 1;
    display: flex;
    column-gap: 50px;
  }

  &-actions {
    display: flex;
    gap: $gap-sm;
  }

  &-btn {
    display: block;
    padding: 0.2em;
    height: 45px;
    min-width: 120px;
    border-radius: 0;
    font-weight: 600;
  }
}
