header {
  background-color: $color-bg-header;
  border-bottom: 1px solid $color-header-line;
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
}

/* Icon 1 */

.header-menu-hamburger {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.header-menu-hamburger span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: $color-btn-accent;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

/* Icon Humburger  */

.header-menu-hamburger span:nth-child(1) {
  top: 0px;
}

.header-menu-hamburger span:nth-child(2),.header-menu-hamburger span:nth-child(3) {
  top: 18px;
}

.header-menu-hamburger span:nth-child(4) {
  top: 36px;
}

.header-menu-hamburger.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.header-menu-hamburger.open span:nth-child(2) {
  transform: rotate(45deg);
}

.header-menu-hamburger.open span:nth-child(3) {
  transform: rotate(-45deg);
}

.header-menu-hamburger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.header-menu {
  padding-top: $gap-lg;
  padding-bottom: $gap-lg;
  display: flex;
  column-gap: 50px;
  align-items: center;

  @include xl {
    justify-content: space-between;
  }

  &-navbar {
    flex-grow: 1;
    display: flex;

    @include xl-min {
      column-gap: 60px;
    }

    @include xl-lg {
      column-gap: $gap;
    }

    @include lg {
      display: none;
    }
  }

  &-actions {
    display: flex;
    gap: $gap-sm;
  }

  &-btn {
    display: block;
    padding: 0.2em;
    height: 45px;
    min-width: 120px;
    border-radius: 0;
    font-weight: 600;
  }
}
