.hero {
  display: grid;
  grid-template-areas: "ttl img""dsc img""act img""nts img";
  grid-template-columns: 550px 1fr;
  row-gap: 20px;
  padding-top: 130px;
  padding-bottom: 160px;
  align-items: center;
  
  @include xl-min {
    grid-template-columns: 580px 1fr;
  }

  @include xl {
    grid-template-columns: 40% 1fr;
  }

  &-title {
    grid-area: ttl;
    font-weight: 600;
    line-height: 1.08;
    margin: 0;
    font-size: 65px;
        
    @include xl {
      font-size: 56px;
    }

  }

  &-description {
    grid-area: dsc;
    padding-top: $gap-lg;
    padding-bottom: $gap-lg;
    font-size: 25px;
    line-height: 1.4;
    max-width: 470px;

    @include xl {
      font-size: 20px;
    }
  }

  &-actions {
    grid-area: act;
    display: flex;
    column-gap: $gap-sm;
  }

  &-notes {
    grid-area: nts;
  }

  &-image-container {
    grid-area: img;
    display: flex;
    align-items: center;
  }

  &-image-item {
    width: 100%;
  }
}