@use "../../../presets/" as *;
@use "../../../mixins" as *;

.capabilities {
  background-color: $color-bg-capabilities;
  padding-top: 120px;
  padding-bottom: 150px;

  @include md {
    grid-template-columns: repeat(1, 1fr);
    padding-top: 80px;
    padding-bottom: 80px;
  }
}