@use "../../../presets/" as *;
@use "../../../mixins" as *;

.capabilities-entities {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 140px;
  row-gap: 80px;
  padding-left: 40px;
  padding-right: 40px;

  @include xl {
    grid-template-columns: repeat(2, 1fr);
    padding-left: 60px;
    padding-right: 60px;
  }

  @include md {
    grid-template-columns: repeat(1, 1fr);
    padding-left: 80px;
    padding-right: 80px;
  }

  @include sm {
    padding-left: 40px;
    padding-right: 40px;
  }
}