@use "../../../presets/" as *;
@use "../../../mixins" as *;

.entity {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 24px;

  &__title {
    font-weight: 600;
    font-size: 25px;
    line-height: 1.4;
    margin: 0;
  }

  &__description {
    font-size: 18px;
    line-height: 1.39;
  }

  &__image {
    order: -1;
  }

}