.header-menu {
  padding-top: $gap-lg;
  padding-bottom: $gap-lg;
  display: flex;
  align-items: center;
  min-height: 105px;

  @include xl-min {
    column-gap: 50px;
  }

  @include xl {
    justify-content: space-between;
  }

  @include xl-lg {
    column-gap: $gap;
  }

  @include sm {
    padding-top: $gap;
    padding-bottom: $gap;
    min-height: 68px;
  }
}