@use "../../presets" as *;
@use "../../mixins" as *;

.header-menu {
  display: flex;
  align-items: center;
  height: 105px;
  padding-top: $gap-lg;
  padding-bottom: $gap-lg;

  @include xl-min {
    column-gap: 50px;
  }

  @include xl {
    justify-content: space-between;
  }

  @include xl-lg {
    column-gap: $gap;
  }

  @include sm {
    height: 68px;
    padding-top: $gap;
    padding-bottom: $gap;
  }
}