@use "../../mixins" as *;
@use "../../presets" as *;

.header-menu-navbar {
  flex-grow: 1;
  display: flex;

  @include xl-min {
    column-gap: 60px;
  }

  @include xl-lg {
    column-gap: $gap;
  }

  @include lg {
    display: none;
  }

  &-link {
    @include lg {
      padding: 0.5em;
    }
  }

  // Humburger menu

  &.active {
    display: block;
    position: absolute;
    top: 0;
    padding: 105px 20px 100px 20px;
    background-color: $color-bg-main;
    display: flex;
    flex-direction: column;
    gap: $gap-lg;
    width: 324px;
    right: 0;
    text-align: right;
    height: 100vh;
    box-shadow: 0 0 16px rgba($color-btn-dark, 0.25);    
  }
}