@use "../../presets" as *;
@use "../../mixins" as *;

.header-menu {
  display: flex;
  align-items: center;
  height: 105px;
  padding-top: $gap-lg;
  padding-bottom: $gap-lg;
  justify-content: space-between;

  @include xl-min {
    column-gap: 50px;
  }

  @include xl {
    column-gap: $gap-lg;
  }

  @include sm {
    height: 68px;
    padding-top: $gap;
    padding-bottom: $gap;
  }

  &__logo {
    width: 130px;
    height: 28px;
  }

  &__navbar {
    display: flex;
    flex-grow: 1;

    @include xl-min {
      column-gap: 60px;
    }

    @include xl {
      column-gap: $gap-lg;
    }

    @include lg {
      display: none;
    }

    &-link {
      @include lg {
        padding: 0.5em;
      }
    }

    &.active {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      display: flex;
      flex-direction: column;
      width: 324px;
      height: 100vh;
      padding: 105px 20px 100px 20px;
      text-align: right;
      background-color: $color-bg-main;
      box-shadow: 0 0 16px rgba($color-btn-dark, 0.25);
      gap: $gap-lg;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: $gap-sm;

    @include lg {
      flex-direction: row-reverse;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: $gap-sm;

    @include sm {
      display: none;
    }

    &.active {
      position: absolute;
      top: 410px;
      display: flex;
      flex-direction: column;
      gap: $gap;
    }
  }

  &__hamburger {
    position: relative;
    width: 30px;
    height: 22.5px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    transform: rotate(0deg);

    &-row {
      left: 0;
      display: none;
      width: 100%;
      height: 3px;
      transition: 0.25s ease-in-out;
      transform: rotate(0deg);
      opacity: 1;

      @include lg {
        position: absolute;
        display: block;
      }

      &:nth-child(1) {
        top: 0;
        background-color: #a4a14a;
      }

      &:nth-child(2),
      &:nth-child(3) {
        top: 9px;
        background-color: #ffc500;
      }

      &:nth-child(4) {
        top: 18px;
        background-color: #ff6336;
      }
    }

    &.open span {
      &:nth-child(1) {
        top: 9px;
        left: 50%;
        width: 0;
      }

      &:nth-child(2) {
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
      }

      &:nth-child(4) {
        top: 9px;
        left: 50%;
        width: 0;
      }
    }

  }
}