@use "../../../mixins" as *;
@use "../../../presets/" as *;

.features-content {
  display: flex;
  flex-direction: column;
  gap: 250px;

  @include xl {
    gap: 100px;
  }

  @include md {
    gap: 80px;
  }
}