$color-bg-header: #ffffff;
$color-header-line: #cccccc;
$color-bg-main: #ffffff;
$color-bg-hero: #ffffff;
$color-bg-companies: #ff9c7d;
$color-bg-capabilities: #fff8e4;
$color-txt-primary: #000000;
$color-txt-secondary: #ffffff;
$color-btn-light: #ffffff;
$color-btn-dark: #000000;
$color-btn-accent: #ff6336;

