@use "../../../mixins" as *;
@use "../../../presets/" as *;

.testimonial-author {
  display: grid;
  align-items: center;
  grid-template-areas: "ttx img" "nam img" "log img";
  column-gap: 80px;

  &__text {
    grid-area: ttx;
    font-size: 30px;
    line-height: 1.33;
    padding-top: 20px;

    @include sm {
      font-size: 22px;
    }
  }

  &__name {
    grid-area: nam;
    font-size: 15px;
    line-height: 1.67;
    padding-top: 40px;

    @include lg {
      padding-top: 0px;
    }
  }

  &__logo {
    grid-area: log;
  }

  &__image {
    grid-area: img;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 312px;
  }

  &__photo {
    width: 100%;
  }

  @include lg {
    grid-template-areas: "ttx" "img" "nam" "log";
    gap: $gap;
  }
}