.container {
  max-width: $xl;
  padding-left: $gap;
  padding-right: $gap;
  margin: 0 auto;
}

.btn {
  min-width: 120px;
  min-height: 45px;
  border-radius: 0;
  font-weight: 600;
}

.btn-light {
  background-color: $color-btn-light;
  border: 1px solid rgba($color-btn-dark, 0.5); 
  color: $color-txt-primary;
}

.btn-accent {
  background-color: $color-btn-accent;
  border: none;
  color: $color-txt-secondary;
}
